@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%; } }
@media (max-width: 56.25em) {
  html {
    font-size: 50%; } }
/* @media (max-width: 37.5em) {
  html {
    font-size: 50%; } } */

body {
  margin: 0;
  background-color: #3f3f3f;
}
